# Dependencies
node_modules

# Personal files
.env*
!.env.example
NOTES.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled files & cache
build
.tsbuildinfo
.eslintcache
.tsbuildinfo
